####### OS X
.DS_Store*
Icon?
._*


####### Windows
Thumbs.db
ehthumbs.db
Desktop.ini


####### Linux
.directory
*~


####### npm
node_modules
npm-debug.log


####### IDE
.emacs*
*.flymake
.#*
.idea
*.iml
*.sublime-*
.tern-port
.vscode
.vs

####### LibreOffice & MS Office
.~*
~$*


####### VCS
*.orig
*.rej
package-lock.json


######## project-specific

packets/
test/keys/
test/keys_broker_1/
test/keys_broker_2/
test/clients_broker_1/
test/clients_broker_2/
test/config*
test/.temp/
